
html {
  scroll-behavior: smooth;
 }

body {
  background-color: #EBEEF0;
  overflow-x: hidden;
}

.title-paragraph {
  color: #21272F;
  font-size: 18px;
  margin: 10px 0 10px 0;
  width: 380px;
}

.title-paragraph-second {
  color: #21272F;
  font-size: 18px;
  margin: 10px 0 10px 0;
  width: 280px;
}

.main-paragraph {
  color: #21272F;
  font-size: 18px;
  margin: 10px 0 30px 0;
  width: 400px;
}

.form-heading {
  font-size: 40px;
  font-family: outfit;
  padding: 20px 0 0 0;
  width: 500px;
  color: #DEEAF5;
}

.logo {
  height: 80px;
}

.btn {
  padding: 2px 15px;
  border-radius: 2px;
  border-style: solid;
  border-color: #285574;
  border-width: 1.5px;
  color: #285574;
  background-color: transparent;
  cursor: pointer;
}

.btn:hover {
  padding: 2px 15px;
  border-radius: 2px;
  border-style: solid;
  border-color: #285574;
  border-width: 1.5px;
  color: #EBEEF0;
  background-color: #285574;
  cursor: pointer;
  transition: 0.4s;
}

.grid-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40 0 0 0;
}

.left-wrapper {
  width: 540px;
  height: 540px;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 0 0;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  align-items: left;
}

.wc-box {
  margin: 10px 10px 10px 0;
}

.wc-text {
  font-size: 18px;
  background-color: #9FAFC0;
  color: #EBEEF0;
  padding: 12px 20px 12px 20px;
  border-radius: 2px;
  width: 160px;
  text-align: center;
}

.main-button {
  background-color: #285574;
  color: #EBEEF0;
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  width: 132.17px;
  height: 39px;
}

.main-button:hover {
  opacity: 0.8;
  transition: 0.4s;
}

.com-p {
  color: #21272F;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 30px 10px 0;
}

.social-image-wrapper {
  margin: 60px 0 0 0;
  display: flex;
  align-items: center;
}

.social-image {
  margin: 0 10px 0 0;
  cursor: pointer;
  transition: o.4s;
}

.social-image:hover {
  margin: 0 10px 0 0;
  cursor: pointer;
  opacity: .8;
  transition: o.4s;
}

.right-wrapper {
  width: 540px;
  height: 540px;
  justify-content: start;

}

.character {
  width: 300px;
  height: 450px;
}

.second {
  background-color: #8EAABE;
}
.second-bg {
  height: 200px;
  margin: 20px 0 10px 0;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  height: 30vh;
  border-radius: none;
}



.info-wrapper {
  width: 180px;
  height: 180px;
  border: #21272F;
  border-style: dashed;
  border-width: 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-paragraph {
  color: #21272F;
  font-size: 20px;
  width: 120px;
  text-align: center;
}

.third {
  height: 700px;
  margin: 20px 0 60px 0;
}

.se-sub-title {
  font-size: 20px;
}

.se-title {
  margin: 20px 0;
}

.se-wrapper {
  display: flex;
  justify-content: center;
  margin: 70px 0;
  gap: 120px;
}

.po-box-wrapper {
  background-color: #8EAABE;
  width: 300px;
  height: 320px;
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 0 15px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 4px 15px #21272F;
}

.se-box-wrapper {
  background-color: #8EAABE;
  width: 300px;
  height: 320px;
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 0 15px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 4px 15px #21272F;
}

.se-paragraph {
  width: 250px;
}

.icons {
  width: 60px;
  height: 60px;
  margin: 10px 0 10px 0;
}

<!---->
.fourth {
  background-color: #8EAABE;
  height: 700px;
}
.po-title {
  font-size: 80px;
  padding: 50px 0 10px 0;
}

.po-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 50px 0;
}

.po-box-wrapper {
  background-color: #21272F;
  width: 330px;
  height: 320px;
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 4px 15px #21272F;
  cursor: pointer;
}

.po-box-wrapper:hover {
  background-color: #21272F;
  width: 300px;
  height: 250px;
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 4px 15px #21272F;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
}

.thumbnail {
  width: 280px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px 10px 100px);
  grid-gap: 1em;
}

.grid-box {
  background-color: #8EAABE;
}


.box {
  background-color: #8EAABE;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}

.not-box {
  padding: 16px;

}

.divider {
  display: flex;
  justify-content: center;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 40px 0 60px 0;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
  padding: 50px 0 50px 0;
}

.f {
  grid-area: f;
}

.g {
  grid-area: g;
  padding: 70px 0 30px 0;
}

.grid {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: auto;
  grid-template-areas:
    "a d e"
    "b d f"
    "c d g";
}

.ex-sub-title {
  font-size: 20px;
  color: #21272F;
}

.ex-title-paragraph {
  color: #1B4B6C;
}

.special-title-paragraph {
  color: #1B4B6C;
  padding: 0 22px 0 0;
}

.footer {
  background-color: #8EAABE;
  height: 450px;
  margin: 30px 0 0 0;
}

.form-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.form-group {
  display: inline-block;
}

.form-group-email input{
  background-color: #728898;
  width: 403.5px;
  height: 40px;
  margin-top: 10px;
  border-radius: 6px;
  border-style: solid;
  border: #1B4B6C;
  border-width: 2px;
  padding: 10px 10px 10px 10px;
}

.form-group input {
  background-color: #728898;
  width: 200px;
  height: 40px;
  margin-top: 10px;
  border-radius: 6px;
  border-style: solid;
  border: #45D8C1;
  border-width: 2px;
  padding: 10px 10px 10px 10px;
}

.form-group textarea {
  background-color: #728898;
  width: 403.5px;
  margin-top: 10px;
  border-radius: 6px;
  border-style: solid;
  border: #1B4B6C;
  border-width: 2px;
  padding: 10px 10px 10px 10px;
}

.send-button {
  width: 403.5px;
  height: 38px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  font-family: outfit;
  background-color: #5EF2F2;
  margin: 20px 10px 20px 0;
  transition: 0.4s;
}

.form-paragraph {
  width: 455px;
  color: #DEEAF5;
  margin: 0  0 140px 0;
}

.form-wrapper {
  display: flex;
}

.fr-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: inline-block;
}

.form-check {
  font-size: 40px;
  font-family: outfit;
  padding: 20px 0 0 0;
  width: 500px;
  color: #DEEAF5;
  display: inline-block;
  padding: 50px 0 0 0;
  display: block;
}

.form-size {
  width: 500px;
  margin: 0 0 0 0 ;
}

.footer-logo {
  height: 350px;
  position: absolute;
  right: -1px;
  margin-top: 100px;

}

.space {
  padding: 40px 0 40px 0;
}

.com-p-2 {
  color: #DEEAF5;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 30px 10px 0;
}

/*-----gradients----*/

.gradient {
  width: 400px;
  height: 400px;
  background-color: #8EAABE;
  border-radius: 200px;
  position: absolute;
  top: -200px;
  left: 70px;
  filter: blur(80px);
  z-index: -2;
}

.gradient2 {
  width: 400px;
  height: 400px;
  background-color: #8EAABE;
  border-radius: 200px;
  position: absolute;
  top: 400px;
  right: -100px;
  filter: blur(40px);
  z-index: -2;
}
